<h1> <%= @cat.name %> </h1>
<table>
  <tr>
    <td>Age</td>
    <td> <%= @cat.age %> </td>
  </tr>

  <tr>
    <td>Color</td>
    <td> <%= @cat.color %> </td>
  </tr>

  <tr>
    <td>Sex</td>
    <td> <%= @cat.sex %> </td>
  </tr>

  <tr>
    <td>Description</td>
    <td> <%= @cat.description %> </td>
  </tr>
</table>
<br>

<table>
  <h3> Current Rentals </ h3>
  <% @rental.each do |rent| %>
  <tr>
    <td>Start Date: <%= rent.start_date %></td>
    <td>End Date: <%= rent.end_date %> </td>
    <% if rent.status == "pending" %>
    <td>
      <form action= <%=  "/cat_rental_requests/#{rent.id}/approve" %> method="POST">
        <input type="hidden" name="_method" value="PATCH">
        <input type="submit" value="Approve">
      </form>
    </td>

    <td>
      <form action= <%=  "/cat_rental_requests/#{rent.id}/deny" %> method="POST">
        <input type="hidden" name="_method" value="PATCH">
        <input type="submit" value="Deny">
      </form>
    </td>
    <% end %>


  </tr>
  <% end %>
</table>
